@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
    background-color: #282c34;
    color: #fff;
    font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;

    .layout {
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        max-width: 600px;
        width: 90%;
        margin: 50px auto;
        padding: 30px;
        background-color: #5a6478;

        h1 {
            margin-bottom: 30px;
            color: #fff;
            font-weight: 700;
            text-align: center;
        }

        button {
            min-width: 70px;
            min-height: 35px;
            padding: 0 10px;
            background-color: #fff;
            color: #333;
            transition: all .3s;

            &:hover {
                background-color: #ccc;
            }
        }
    }
}