li {
    margin-bottom: 10px;

    a {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        button {
            padding: 0 10px;
            background-color: #fff;
        }
    }
}